.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
    font-size: 20px;
   
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    font-size: 20px;
  }
  .fira-sans-bold-2 {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 61px;
    font-size: 56px;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  


  .main{
    display: flex;
    margin: 20px 140px;
  justify-content: space-between;
  }
  .banner{
    visibility: hidden;
  }
  @media screen and (max-width: 576px) {
    .nav, .school{
      display: none;
      
    }
    .first-btn {
      display: none;
    }
    .banner{
      visibility: visible;
    
    }
    .hero, .pic, .main-div{
      flex-direction: column;

    }
    .btn-2{
      margin-left: 40px;
    }

    .main{
      margin: 0;
      
    }
  .img{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
   }
   .text{
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translateX(-50%);
   }
   .main-div{
    flex-direction: column;
   }
   .sec-2{
    position: absolute;
    top: 1200px;
 
   }
   .stand{

    display: flex;
    text-align: left;
    margin-left: 90px;
    font-size: 26px;
    line-height: auto;
    
   }
   .icon{
    display: none;
   }
   .main-div{
    max-width: 400px;
  gap: 13px;
   }
   .story{
    margin-right: 450px;
    text-align: start;
   }
  .our-story-sect{
    position: absolute;
    top: 2800px;
  }
  .img-cap, .nov, .caption, .first-box-pera{
    display: none;
  }
  .box-2-box-3{
    justify-content: flex-start;
  }
     
     
    }
  
  .pic{
   margin-top: 20px;
   gap: 11px;
    display: flex
  
  }
 
  .nav{
    text-align: center;
    gap: 32px;
    margin-top: 36px;
    
    
  }
  .first-btn{
    position: absolute;
    margin-left: 1100px;
    margin-top: 26px;
    height: 50px;
    width: 197px;
    border-radius: 10px;
    background-color: rgba(254, 163, 1, 1);
    
    color: rgba(255, 255, 255, 1);
   
    
    

  }
  .home{
    color: orange;
  }
  .about{
    color: skyblue;
  }
  .faci{
   color: rgba(5, 212, 223, 1)
  }
  .admi{
    color: rgba(93, 88, 239, 1);
  }
  .nav a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    gap: 32px;
    
    




  }
  
  .hero{
display: flex;
margin-left: 144px;
margin-right: 138px;
/* max-width: 1000px;
height: 600px; */

  }
  .span{
    color: orange;
  }
  .span-2{
    color: skyblue;
  }
  .btn-2{
    height: 50px;
    gap: 10px;
    width: 197px;
    border-radius: 10px;
    background-color: black;
    color: rgba(255, 255, 255, 1);
  }
  .pera{
    margin-right: 120px;
  }
  .first-head{
    margin-right: 200px;
  }

  
  .img{
    gap: 50px;
  }
  .main-div{
    display: flex;
    margin-left: 100px;
    width: 1160px;
    height: 482px;
  }
  .stand{
    margin-top: 00px;
    margin-bottom: 80px;
    margin-left: 200px;
    width: 1000px;
    height: 58px;
    text-align: center;
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 58px;
    font-size: 46px;
    
  }
  .sec-2{
    background-image: url('assets/bg.png');
     margin-left:50px; 
    margin-top: 150px;
    justify-content: space-evenly;
  } 
  .kinder{
    text-align: center;
    padding: 40px;
    margin-left: 30px;
    justify-content: center;
    background-color: rgba(222, 245, 255, 1);
    border-radius: 20px;
  }
  .element{
    text-align: center;
    padding: 40px;
    margin-left: 30px;
    
    
    justify-content: center;
    background-color: rgba(255, 244, 220, 1);
    border-radius: 20px;

  }
  .middle{
    text-align: center;
    padding: 40px;
    justify-content: center;
    background-color: rgba(242, 232, 255, 1);
    margin-left: 30px;
    border-radius: 20px;

  }
  .fst-read{
    color: rgba(100, 200, 255, 1);
    text-decoration: none;
  }
  .scnd{
    color: rgba(240, 170, 0, 1);
    text-decoration: none;
  }
  .third{
    color: rgba(135, 0, 255, 1);
    text-decoration: none;
  }
  .main-div{
    height: 477px;
  
  }
  .icon{
    margin-right: 90PX;
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
  }
  .fa-arrow-left{
    border: 20px solid orange;
    margin-right: 10px;
    color: white;
    background-color: orange;
    border-radius: 30px;
  }
  .fa-arrow-right{
    border: 20px solid orange;
    color: white;
    background-color: orange;
    border-radius: 30px;
  }
 
 .our-story-sect{
  margin-top: 200px;
  background-image: url('assets/bg.png');
 }
 .our-story-container{
  display: flex;
  grid-template-columns: repeat(3,1fr);
  gap: 18px;
  justify-content: center;
  margin-top: 10px;
 }
 .our-story{
  margin-top: 60px;
  margin-bottom: 80px;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
 }
 #box-1{

  grid-row: span 3;
  border-radius: 16px;
  background-color: white;
  width: 548px;
  height: 63px;

 }
 .story-2-3-4-5{
  display: flex;
  justify-content: center;
  gap: 29px;
  
 }
 .div-1{
  border: 1px solid tomato;
  border-radius: 16px;
 }
 .box-2{
  border: 1px solid tomato;
  background-color: white;
  border-radius: 16px;
  gap: 21px;
  margin-bottom: 19px;
  width: 290px;
  height: 301px;

 }
 .box-3{
  border: 1px solid tomato;
  background-color: white;
  border-radius: 16px;
  width: 290px;
  height: 301px;

 }
 .box-4{
  border: 1px solid tomato;
  background-color: white;
  border-radius: 16px;
  width: 290px;
  height: 301px;
  margin-bottom: 19px;
 }
 .box-5{
  border: 1px solid tomato;
  margin-right: 00px;
  background-color: white;
  border-radius: 16px;
  width: 290px;
  height: 301px;
 }
 .first-box{
  border-top-right-radius: 16px;
  border-top-left-radius: 10px;
  width: 100%;
 }
 .november-1tag{
  color: white;
  background-color: rgba(60, 216, 232, 1);
  border: none;
  display: inline;
  position: relative;
  border-radius: 100px;
  padding: 14px 19px;
  font-size: 16px;
  font-weight: 500;
  margin: 2px 38px;
 }
 .box-2-november{
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: rgba(149, 178, 38, 1);
  position: relative;

  border-radius: 100px;
  display: inline;
  margin:0 0 20px -280px;
  padding: 14px 19px;
  
  
 }
 .box-3-november{
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: rgba(93, 88, 240, 1);
  position: relative;
  border-radius: 100px;
  display: inline;
  margin: 0px 0px 20px -280px;
  padding: 10px 19px;

 }
 .box-4-november{
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: rgba(149, 178, 38, 1);
  position: relative;
  border-radius: 100px;
  display: inline;
  margin: 0 0 20px -280px;
  padding: 10px 19px;
 }
 .box-5-november{
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: rgba(149, 178, 38, 1);
  position: relative;
  border-radius: 100px;
  display: inline;
  margin: 0 0 20px -280px;
  padding: 10px 19px;
 }
 .first-box-head{
  font-size: 24px;
  font-weight: bold;
  padding: 58px 38px;
 }
 .first-box-pera{
  padding: 0px 80px 34px 38px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  margin-top: -40px;
  background-color: white;

 }
 .box-2-3-4-5-img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

 }
 .box-2-3-4-5-pera1{
  font-size: 16px;
  font-weight: bold;
  padding: 19px 38px 28px 37px;
  background-color: white;
  margin-right: 10PX;

 }
 .caption{
  margin-top: -40px;
 margin-right: 100px;
 background-color: white;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
 }
.our-story-sect{
  background-image: url('assets/bg.png');
}
.box-2-3-4-5-1pera{
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  padding: 10px;
  margin-right: 50px;
  margin-left: 20px;
}
.box-2-3-4-5-2pera{
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  padding: 10px;
  margin-right: 50px;
  margin-left: 20px;
}
.box-2-3-4-5-3pera{
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  padding: 10px;
  margin-right: 50px;
  margin-left: 20px;
}
.box-2-3-4-5-4pera{
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
  padding: 10px;
  margin-right: 50px;
  margin-left: 20px;
}
.view-1{
  display: grid;
  place-items: center;
  color: white;
  background-image: url('assets/bg.png');
  
}
.view-2{
 margin-top: 80px;
 
 
  background-color: black;
  color: white;
  width: 197px;
  height: 50px;
  padding: 10px;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
}
/* footer */
footer{
  margin-left: 30px;
  height: 500px;
  width: 1480px;
  background-color: rgba(1, 172, 253, 1);
  margin-top: 100px;
}
.container{
  display: flex;
}
.kiddo{
  display: flex;
  gap: 20px;
}
.last-header{
  
  margin-top: 0%;
  margin-right: 200px;
}
.footer-content{
  color: white;
  margin-left: 100px;
  margin-right: 220px;
  margin-top: 0;
}
  .list li a{
    color: white;
  text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
  li{
    font-size: 20px;
    margin-left: -240px;
    padding-bottom: 20px;
  }
  .last-head{
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    margin-left: -200px;
  }
  .last-pera{
    margin-right: 180px;
   
  }
  .social-icons{
    display: flex;
    justify-content: space-between;
  }